@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<TaskZen.Models.Task.TaskModel>

<div class="container mt-3">
    <div class="d-flex justify-content-between align-items-center border-bottom pb-2">
        <h3 class="fw-bold">Mis tareas</h3>
        <div>
            <a class="p-2 bg-info bg-opacity-10 border border-info rounded-4 text-decoration-none" asp-controller="Tasks" asp-action="Nueva">
                <i class="bi bi-plus-lg"></i> Nueva tarea
            </a>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">

        <!-- To Do -->
        <div class="col-md-4">
            <div class="task-column todo" id="Hacer">
                <h3 class="text-dark">Hacer</h3>
                <div class="task-list">
                    @foreach (var task in Model.Where(t => t.Status == StatusLevel.Hacer))
                    {
                        @await Html.PartialAsync("_TaskCard", task)
                    }
                </div>
            </div>
        </div>

        <!-- In Progres -->
        <div class="col-md-4">
            <div class="task-column in-progress" id="EnProgreso">
                <h3 class="text-dark">En Progreso</h3>
                <div class="task-list">
                    @foreach (var task in Model.Where(t => t.Status == StatusLevel.EnProgreso))
                    {
                        @await Html.PartialAsync("_TaskCard", task)
                    }
                </div>
            </div>
        </div>

        <!-- Done -->
        <div class="col-md-4">
            <div class="task-column done" id="Terminado">
                <h3 class="text-dark">Terminado</h3>
                <div class="task-list">
                    @foreach (var task in Model.Where(t => t.Status == StatusLevel.Terminado))
                    {
                        @await Html.PartialAsync("_TaskCard", task)
                    }
                </div>
            </div>
        </div>
    </div>
</div>
